<!DOCTYPE html>
<html>
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-material-design@4.1.1/dist/css/bootstrap-material-design.min.css" integrity="sha384-wXznGJNEXNG1NFsbm0ugrLFMQPWswR3lds2VeinahP8N0zJw9VWSopbjv2x7WCvX" crossorigin="anonymous">
    <!-- Font Family -->
    <link href="https://fonts.googleapis.com/css?family=Ubuntu+Mono" rel="stylesheet">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="../styles/style.css">

    <title>Benjamin Streit - Password Validation</title>
  </head>

  <body class="bg-primary">

    <!--
    Password entry form modal
    -->
    <div class="modal fade bg-primary" tabindex="-1" role="dialog" id="modal_password_form" data-keyboard="false" data-backdrop="static" onkeypress="javascript: if(event.keyCode == 13) validatePasswords();">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header justify-content-between">
            <h5 class="modal-title">Password Validation</h5>
            <button type="button" class="btn btn-raised btn-primary" onclick="javascript: location.href='home.html';">
              Home
            </button>
          </div>
          <div class="modal-body">
            <form>
              <div class="form-group bmd-form-group">
                <label for="input_password" class="bmd-label-floating">Password</label>
                <input type="password" class="form-control" id="input_password">
              </div>
              <div class="form-group bmd-form-group">
                <label for="input_confirm_password" class="bmd-label-floating">Confirm password</label>
                <input type="password" class="form-control" id="input_confirm_password">
              </div>
              <button type="button" class="btn btn-info btn-raised" onclick="validatePasswords();">Validate</button>
            </form>
        </div>
        <div class="modal-footer">
          <p class="text-muted" style="margin-right:0.5vw;">
            Created for EECS 448
          </p>
        </div>
      </div>
    </div>

    <!--
    Bad password modal
    -->
    <div class="modal fade bg-danger" tabindex="-1" role="dialog" id="modal_bad_password" onkeypress="javascript: if(event.keyCode == 13) modal_manager.manageBadPassword('hide');">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Whoops</h5>
          </div>
          <div class="modal-body">
            <p id="password_bad_match">Passwords do not match.</p>
            <p id="password_bad_length">Passwords must be at least eight characters long.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="javascript: modal_manager.manageBadPassword('hide');">Got it</button>
          </div>
        </div>
      </div>
    </div>

    <!--
    Good password modal
    -->
    <div class="modal fade bg-success" tabindex="-1" role="dialog" id="modal_good_password" onkeypress="javascript: if(event.keyCode == 13) modal_manager.manageGoodPassword('hide');">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">Success</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p>Passwords are valid.</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" onclick="javascript: modal_manager.manageGoodPassword('hide')">Got it</button>
          </div>
        </div>
      </div>
    </div>

    <!-- jQuery first, then Popper.js, SnackbarJS, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://unpkg.com/popper.js@1.12.6/dist/umd/popper.js" integrity="sha384-fA23ZRQ3G/J53mElWqVJEGJzU0sTs+SvzG8fXVWP+kJQ1lwFAOkcUOysnlKJC33U" crossorigin="anonymous"></script>
    <!-- SnackbarJS plugin -->
    <script src="https://cdn.rawgit.com/FezVrasta/snackbarjs/1.1.0/dist/snackbar.min.js"></script>
    <script src="https://unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js" integrity="sha384-CauSuKpEqAFajSpkdjv3z9t8E7RlpJ1UP0lKM/+NdtSarroVKu069AlsRPKkFBz9" crossorigin="anonymous"></script>
    <script>$(document).ready(function() { $('body').bootstrapMaterialDesign(); });</script>
    <!-- Custom JS -->
    <script src="../js/ModalManager.js"></script>
    <script src="../js/password-validation.js"></script>
  </body>
</html>
